/* Mon commentaire en CSS (im back!) */
h1 {
	color: yellow;
	background: green;
	text-align: center;
}
p {
	color: gray;
	text-align: justify;
}
.montitre3 {
	font-family: cursive;
}
#adnpy {
	text-decoration: underline;
	background: black;
}

.classe-vicieuse {
	background: gray;
}
p strong {
	font-size: 20px;
}
.montitre3 strong {	
	font-size: 10px;
}
/* permet de faire flotter mon image à gauche */
.image-left {
	float: left;
	margin: 15px 10px 20px 5px;
	/* même effet que la ligne d'avant
	margin-right: 10px;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	*/
}
/* permet de faire flotter mon image à droite */
.image-right {
	float: right;
	/* le premier nombre représente les marges verticales */
	/* le deuxieme represente les marges horizontales */
	margin: 20px 5px;
}
/* permet d'annuler les flottements à gauche */
.pcleared {
	clear: left;
}
.petite-image {
	width: 75px;
}
.img-box {
	color: yellow;
	background-color: orange;
	float: right;
	/* permet d'ajouter une marge interne */
	/*
	padding: 20px 10px 5px 15px;
	*/
	padding: 25px;
	margin-left: 50px;
	border: 5px solid rebeccapurple;
}
.img-box img {
	border: 1px solid black;
}